h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  margin-left: 6px;
}

p.myName {
  color: rgb(192, 121, 192);
}
p.underlined {
  color: darkolivegreen;
  text-decoration: underline wavy;
}
p.about {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(114, 73, 18);
}
p.info {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(11, 78, 95);
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
.custom-textarea {
  width: 40%;
  max-width: 100%;
}
.custom-textarea2 {
  width: 15%;
  max-width: 100%;
}
body {
  padding-left: 10px;
}
.custom-checkbox {
  margin-left: 15px;
}
.checkbox-label {
  display: flex;
  align-items: left;
  padding: 2px;
}
.custom-list {
  width: 50%;
  max-width: 100%;
}
.custom-card {
  width: 70%;
}
.custom-table {
  width: 60%;
}
